/* div{
    background-size: cover;
    background-repeat: no-repeat;
    color: greenyellow;
} */
.section2div{
    padding-left: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(72, 216, 59);
}
.section2div h5{
    font-size: 15px;
}
.section2div h1{
    font-size: 55px;
}
.button2{
    background-color: rgb(72, 216, 59);
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 270px;
    color: blue;
    font-size: 15px;
    font-weight: 600;
    /* transition: width 280px; */
}
/* .button2 :hover{
} */
.table2{
    width: 616px;
}