/* .spotifyimage2{

} */

.button3{
    margin-left: 39.5%;
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 270px;
    font-weight: 600;
    background-color: blue;
    color: white;
    border:none;
    font-size: large;
}
.or{
    text-align: center;
    color: rgb(121, 121, 121);
}
.table5{
    text-align: center;
    margin-left: 32%;
}
.table5 tr td{
    text-align: left;
}
.ans{
    width: 440px;
    height: 50px;
}
.ans:focus{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.monthd{
    width: 204px;
    height: 50px;
    font-size: 17px;
    color: rgb(95, 94, 94);
}
.monthd:focus{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.dayd{
    width: 80px;
    height: 44px;
}
.dayd:focus{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.yeard{
    width: 104px;
    height: 44px;
}
.yeard:focus{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.tnc{
    text-decoration: none;
    color: rgb(105, 175, 1);
    text-decoration: underline;
}
.signuptnc{
    font-size: small;
    padding-right: 37%;
}
.button4{
    margin-left: 44.5%;
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    font-weight: 600;
    background-color: rgb(80, 190, 80);
    color: black;
    border:none;
    font-size: large;
}
.signuplogin1{
    text-align: center;

}
.signuplogin2{
    text-decoration: none;
    text-decoration: underline;
    color: green;
}